body {
    color: #03ff00;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    margin: 0;
}

.wrapper {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


